<p>
  <strong>名前:</strong>
  <%= @viewer.name %>
</p><br>

<p>
  <strong>年齢:</strong>
  <%= @viewer.age %>
</p><br>

<p>
  <strong>性別:</strong>
  <%= @viewer.gender %>
</p><br>

<%= link_to '更新', edit_viewer_path(@viewer) %> |
<%= link_to '戻る', viewers_path %>
