<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photographer.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @photographer.age %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @photographer.camera %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @photographer.gender %>
</p>

<p>
  <strong>Category:</strong>
  <%= @photographer.category %>
</p>

<%= link_to 'Edit', edit_photographer_path(@photographer) %> |
<%= link_to 'Back', photographers_path %>
