<div class="form-area">
  <p>
    <strong>名前:</strong>
    <%= @photographer.name %>
  </p><br>

  <p>
    <strong>年齢:</strong>
    <%= @photographer.age %>
  </p><br>

  <p>
    <strong>カメラ:</strong>
    <%= @photographer.camera %>
  </p><br>

  <p>
    <strong>性別:</strong>
    <%= @photographer.gender %>
  </p><br>

  <p>
    <strong>カテゴリー:</strong>
    <%= @photographer.category %>
  </p><br>

  <%= link_to '更新', edit_photographer_path(@photographer), class: "btn" %> |
  <%= link_to '戻る', photographers_path, class: "btn" %>
<div>
