<!DOCTYPE html>
<html>
  <head>
    <title>PhotomoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <% if(flash.alert != nil) %>
      <h3 style = "background-color:red; color:white; text-align:center;" ><%= flash.alert %></h3>
    <% end %>

    <p id="notice"><%= notice %></p>
    <div class="main-content">
      <%= yield %>
    </div>
  </body>
</html>
